<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ddsio.productionapp.sharesavari">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <dist:module dist:instant="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileScreen.Child.ChatPas"></activity>
        <activity android:name=".ProfileScreen.EditProf" />
        <activity android:name=".SearchScreen.child.PendingReq" />
        <activity android:name=".OfferScreen.SmokingandBooking" />
        <activity android:name=".OfferScreen.Hault" />
        <activity android:name=".OfferScreen.PassengerCount" />
        <activity android:name=".OfferScreen.MaxSeat" />
        <activity android:name=".SearchScreen.child.ReviewsList" />
        <activity android:name=".SearchScreen.child.CoPasList" />
        <activity android:name=".SearchScreen.child.SerachResult" />
        <activity android:name=".AmitRequest" />
        <activity android:name=".HomeScreen.Child.EditRide" />
        <activity android:name=".SearchScreen.child.BookedSuccess" />
        <activity android:name=".SearchScreen.child.DriverProfile" />
        <activity android:name=".InboxScreen.Child.NewMessageActivity" />
        <activity android:name=".InboxScreen.Child.ChatLogActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".SearchScreen.child.RideDetails" />
        <activity android:name=".OfferScreen.NumberOfPassenersToTake" />
        <activity android:name=".OfferScreen.GoingDateAndTime" />
        <activity android:name=".OfferScreen.ReturnDateAndTime" />
        <activity android:name=".ShowMap.ShowMapActivity" />
        <activity android:name=".OfferScreen.ShowMapActivityPickUp" />
        <activity android:name=".OfferScreen.ShowMapActivityDrop" />
        <activity
            android:name=".LogInSignUpQues.QuesBottomSheet"
            android:theme="@style/Theme.UserDialog" />
        <activity android:name=".LogInSignUpQues.LogInSignUpQues" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Intro.IntroActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBY9Hc3WUJqYMH3n3q2vYeNaTEjytB94s" />
    </application>

</manifest>